.shop-container {
   display: grid;
   grid-template-columns: 4fr 1fr;
   height: 100%;
   /* position: absolute; */
}
.product-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   /* align-items: center; */
   gap: 45px;
   margin: 50px;
}
/* .cart-container {
   height: 100vw;
   background: rgba(255, 153, 0, 0.3);
   position: sticky;
   top: 80px;
} */
.shop-cart .cart-container {
   /* background-color: blue; */
   position: sticky;
   top: 80px;
}
